<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Conciertos Conectados</title>
    <link rel="icon" href="" type="image/x-icon">
</head>
<body>
    <header>
        <div class="banner">
            <a href="https://camper.campuslands.com/cursos/366/proyectos"><img src="/storage/img/Menu.png" alt=""></a>
            <a href="https://www.figma.com/design/SfSxP4lYiJnY195Zmm5zI5/Evento---Event-Mobile-App-(Community)?node-id=1-245&t=JOmIveX9uISvpFYO-0"><img src="/storage/img/Frame 34567.png" alt=""><a>
        </div>
        <div class="title_home">
            <h1 class="a">Find</h1>
            <h1 class="b">Trending Events</h1>
        </div>
        <section>
            <div class="search">
                <input type="text" class="search-box">
            </div>
            <div class="srh">
                <a href="#"><img src="/storage/img/Search 3.png" alt=""></a>
            </div>
            <div class="Stext">
                <p>Search event..</p>
            </div>
            <div class="filt">
                <a href="#"><img src="/storage/img/Filter 6.png" alt=""></a>
            </div>
        </section>
    </header>
    <main>
        <div class="carousel">
            <div class="carousel_container">
                <div class="carousel-item1">
                    <p>Music Concert</p>
                </div>
                <div class="carousel-item2">
                    <p>Exhibition</p>
                </div>
                <div class="carousel-item3">
                    <p>Stand Up Show</p>
                </div>
                <div class="carousel-item4">
                    <p>Theater</p>
                </div>
                
            </div>
        </div>
        <div class="C-text">
            <p class="aa"><b>Trending envents</b></p>
            <p class="bb">See all</p>
        </div>
        <div class="information">
            <div class="info-container">
                <div class="info-item">
                    <img src="/storage/img/info1.png" alt="">
                </div>
                <div class="info-item">
                    <img src="/storage/img/info2.png" alt="">
                </div>
            </div>
        </div>
        <div class="C2-text">
            <p class="aaa"><b>Events Near You</b></p>
            <p class="bbb">See all</p>
        </div>

        <div class="price">
            <div class="price-container">
                <div class="price-item">
                    <div class="img1">
                        <img src="/storage/img/price2.png" alt="">
                    </div>
                    <div class="img2">
                        <img src="/storage/img/price1.png" alt="">
                    </div>    
                </div>
            </div>
        </div>
    </main>
</body>
</html>