<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Conciertos Conectados</title>
    <link rel="icon" href="" type="image/x-icon">
</head>
<body>
    <header>
        <div class="banner">
            <a href="https://camper.campuslands.com/cursos/366/proyectos"><img src="/storage/img/Menu.png" alt=""></a>
            <a href="https://www.figma.com/design/SfSxP4lYiJnY195Zmm5zI5/Evento---Event-Mobile-App-(Community)?node-id=1-245&t=JOmIveX9uISvpFYO-0"><img src="/storage/img/Frame 34567.png" alt=""><a>
        </div>
        <div class="title_home">
            <h1 class="a">Find</h1>
            <h1 class="b">Trending Events</h1>
        </div>
        <section>
            <div class="search">
                <input type="text" class="search-box">
            </div>
            <div class="srh">
                <a href="#"><img src="/storage/img/Search 3.png" alt=""></a>
            </div>
            <div class="Stext">
                <h1>Search event..</h1>
            </div>
            <div class="filt">
                <a href="#"><img src="/storage/img/Filter 6.png" alt=""></a>
            </div>
        </section>

    </header>
</body>
</html>