<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tickets.css">
    <title>Conciertos Conectados</title>
</head>
<body>
    <header>
        <div class="tickets">
            <div class="tickets-carousel">
                <div class="ticket-item1">
                    <div class="bann">
                        <img src="/storage/img/bann.png" alt="">
                        </div>
                        <div class="title">
                            <h2>Coldplay : Music of the Spheres</h2>
                        </div>
                        <!-- <div class="center">
                        <img src="/storage/img/center.png" alt="">
                        </div> -->
                </div>
                <div class="ticket-item2">
                    <div class="bann">
                    <img src="/storage/img/bann.png" alt="">
                    </div>
                    <div class="title2">
                        <h2>Coldplay : Music of the Spheres</h2>
                    </div>
                    <!-- <div class="center">
                    <img src="/storage/img/center.png" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </header>
</body>
</html>